body {
	padding-top:0px;
}

.jumbotron-white {
	background-color:white;
}

div.bigbox{
	height:400px;
}

div.space50{
	padding:50px;
}
div.space10{
	padding:10px;
}
div.space5{
	padding:5px;
}

.err {
	font-size:13px;
	color: red;
}

.errsign-valid {
	visibility: hidden;
}

.errsign-err {
	visibility: visible;
}

.errorlist{
	font-size:13px;
	color: red;
}
