.topic-display {
	background:white;
}
.topic-info {
	font-size:14px;
}
.topic-text {
	font-size:18px;
}

span.emph {
	font-size:20px;
}

div.doc_title {
	font-size:17px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}


div.doc_url {
	color: green;
}
