{% extends "fw_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <script  src="{% static "js/register.js" %}" /></script>	
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-white">
<div class="container">
	<div class="row">

	<h2>Welcome!</h2>
	<p>
        Thank you for your interest in our game! In this game you can score
        points by selecting documents in a search interface. After logging in,
        you can start playing. Note, that your username may be shown to other
        users when you make the highscore board.
	</p>

	<div class="col-md-6">
		<div class="alert alert-success bigbox">
		<h3>I already registered!</h3>
		<div class="space10">
		<p>
		<form id="loginform" class="form-horizontal" method="post" action="{% url auth_login %}">{% csrf_token %}
		{{form.as_p}}
               	<input id="login_link" type="submit" class="btn btn-primary btn" value="{% trans 'Log in' %}">
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
		</p>
		</div>		
		<p>{% trans "Forget password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it >> " %}</a></p>
	</div>
	</div>

	<div class="col-md-6">
	<div class="alert alert-danger bigbox">
		<h3>I am new!</h3>
		<div class="space10">
		<form id="#reg_form" class="form-horizontal" role="form" >
		  <div class="row">
    			<label for="user" class="col-sm-4">Username: </label>
    			<div class="col-sm-7">
      			    <input name="Username" type="text" class="form-control" id="user" placeholder="Username">
		  	    <div class="err" id="err_user"></div>	
    		 	    </div>
			<div id="errsign_user" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
 		  </div>

		  <div class="row">
    			<label for="email" class="col-sm-4">Email:</label>
    			<div class="col-sm-7">
      			  <input type="email" class="form-control" 
				id="email" placeholder="Your email will not be shared with others.">
           	  	  <div class="err" id="err_email"></div>	
    			</div>
			<div id="errsign_email" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
 		  </div>	

		  <div class="row">
    			<label for="pass1" class="col-sm-4">Password:</label>
    			<div class="col-sm-7">
      			    <input name="Password" type="password" class="form-control" id="pass1" placeholder="Password">
		            <div class="err" id="err_pass1"></div>
    			</div>
			<div id="errsign_pass1" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
		  </div>

		  <div class="row">
    			<label for="pass2" class="col-sm-4">Retype:</label>
    			<div class="col-sm-7">
      			    <input name="Retype" type="password" class="form-control" id="pass2" placeholder="Password">
		  	    <div class="err" id="err_pass2"></div>
    			</div>
			<div id="errsign_pass2" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
 		  </div>	

		<div class="form-actions">
		<input id="reg_btn" type="button" class="btn btn-primary btn-block" value="{% trans 'Sign me up' %}">		 
		</div>

		</form>
		</div>

	</div>
	</div>
</div>
</div>
</div>






{% endblock %}

