{% extends "fedtask/task_base.html" %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
{% if task_progress < 50 %}	
	{% if has_score %}
		{% if completed %}
			{% if fail %}
				<div class="alert alert-warning">
  		                <h3>Hmmm ... it was a tough one. Want to try another? </h3>
		                </div>
		                <a class="btn btn-success btn-block" 
				href="{% url fedtask.views.read_topic_details %}">Try again! <span 
				class="glyphicon glyphicon-share-alt"></span></a>

			{% else %}
				<div class="panel panel-warning">
				<div class="panel-heading">
				<h3>Congratulations!</h3> 
				</div>
				<div class="panel-body congrats">
				<p>You have achieved <span class="emph">{{last_score}}</span> points in last completed round, 
				and a total of <span class="emph">{{total_score}}</span> points!	
				</p>
				</div>
				<a class="btn btn-success btn-block" 
				href="{% url fedtask.views.read_topic_details %}">Play another round <span 
				class="glyphicon glyphicon-share-alt"></span></a>
				</div>

			{% endif %}
		{% else %}
	                <div class="alert alert-warning">
        	        <h3> Good job, but we are not done yet! </h3>
               		</div>
              		<a class="btn btn-success btn-block" 
         			href="{% url fedtask.views.index %}">Back to game <span 
             		   	class="glyphicon glyphicon-share-alt"></span></a>
		{% endif %}

	{% else %}
		<div class="alert alert-warning">
		<h3>You have not completed any task yet ...</h3>
		</div>
		<a class="btn btn-success btn-block" 
        href="{% url fedtask.views.read_topic_details %}"> Let's start now! <span 
        class="glyphicon glyphicon-share-alt"></span></a>
	{% endif %}	
{% else %}
		<div class="alert alert-warning">
		<h3>We did not think anyone would get this far...<br /> You are amazing.....</h3>
		</div>
 	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5 col-md-offset-0">
		<object width="466" height="255"><param name="movie"
			value="//www.youtube.com/v/04854XqcfCY?hl=en_US&amp;version=3&amp;rel=0&autoplay=1"></param><param
			name="allowFullScreen" value="true"></param><param
			name="allowscriptaccess" value="always"></param><embed
			src="//www.youtube.com/v/04854XqcfCY?hl=en_US&amp;version=3&amp;rel=0&autoplay=1"
			type="application/x-shockwave-flash" width="466" height="255"
			allowscriptaccess="always" allowfullscreen="true"></embed>
		</object>
	</div>
	</div>
 	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5 col-md-offset-0">
		<div id="fb-root">
		</div> 
		<script>(function(d, s, id) { var js, fjs =
			d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js =
			d.createElement(s); js.id = id; js.src =
			"//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs); }(document, 'script',
			'facebook-jssdk'));
		</script>
		<div class="fb-post"
			data-href="https://www.facebook.com/InteractiveInformationAccess/posts/10151948326211317"
			data-width="466">
			<div class="fb-xfbml-parse-ignore"><a
				href="https://www.facebook.com/InteractiveInformationAccess/posts/10151948326211317">Post</a>
				by <a href="https://www.facebook.com/arjenpdevries">Arjen P. De Vries</a>.
			</div>
		</div>
	</div>
	</div>

{% endif %}


    </div>
    <div class="col-md-5">
	<div class="panel panel-primary">
  	<div class="panel-heading scoreboard">High Scores!</div>

  	<!-- Table -->
  	<table class="table scoretab">
		<tr class="scoreheader">
			<td>Rank</td><td>Name</td><td>Score</td><td>#Completed</td>
		</tr>
		{% for s in highscores %}
		<tr class="{{s.0}}">
			<td>{{s.1}}</td>
			<td>{{s.2}}</td>
			<td>{{s.3}}</td>
			<td>{{s.4}}</td>
		</tr>	
		{% endfor %}
  	</table>
	</div>
    	</div>
    <div class="col-md-1"></div>
</div>
{% endblock %}

