{% extends "fedtask/task_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">

	<div class="col-md-6">
	<h3>Instructions</h3>

<p>
    In this game you collect documents about the <span class="emph">keyword
    query</span> at the <span class="emph">top</span> of the page.</p>
<p>
    Your task is to select <span class="emph">10</span> documents relevant
    to the query in as <span class="emph">few</span> clicks as possible.
</p>
<p>
    The persons who have posted these queries have already marked the documents
    they found relevant - your job is to locate these documents as quickly as possible. 
</p>
<p>
    Select a document by <span class="emph">clicking</span> on it.  If it is
    relevant it will be highlighted in green and a <span class="glyphicon
    glyphicon-ok emph" style="color:green"></span> will appear.  If it is not
    relevant, it will be highlighted in red and a <span class="glyphicon
    glyphicon-remove emph" style="color:red"></span> will appear.
</p>
<p>
    On the left of the page, you can filter the documents based on the
    categories they belong to.
</p>
<p>
    On the right of the page, you can see how many clicks you have left
    (starting with <span class="emph">50</span> clicks) and how many relevant
    documents you still need to select. The more clicks you have left after
    selecting 10 relevant documents, the higher your score!  You can check your
    score at <a href="{% url fedtask.views.highscores %}">Highscores</a>.
</p>

<p>
    In case you feel a query is especially difficult for you, you can decide to 
    given up after 25 clicks. 
    A <span class="btn btn-danger">I give up!</span> button will show up then. 
</p>
    <p>
    <span class="emph">Note: if you give up, you will not receive any points for that query! </span>
    </p>

<p>
    What makes a document <span class="emph">relevant</span>? Well, you have to
    find out. 

    on the top part of the page, you can see two example documents, one is relevant,
    and the other is irrelevant.


    A tip: You may see duplicates and these should be judged
    independently.
    <!--Only documents in <span class="emph">English</span> are
    relevant.Also --> 
</p>

	<!--p>
If you are not able to find 10 relevant documents in 100 clicks,
you can have another try with the next topic. If you don't want
to look for more related documents for a certain topic, you can
click "next topic" to select a new topic.
	</p-->

	<div class="space10">
	<a class="btn btn-success" 
		href="{% url fedtask.views.index %}"> Let's start now! <span 
		class="glyphicon glyphicon-share-alt"></span></a>

	</div>
	</div>

	<div class="col-md-6 space50">
	<div class="thumbnail">
	 <h4>Here you can see how the task will look like</h4>
	<img src="{% static "img/category.pdf" %}" width="100%"/>
	</div>
<!--
    <div class="thumbnail">
	 <h4>The highscores.</h4>
	<img src="{% static "img/highscore.jpg" %}" width="100%"/>
	</div>
-->
	</div>

	</div>
	<div class="col-md-1"></div>
</div>
{% endblock %}

