{% extends "fw_base.html" %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="/static/css/task_base.css" />
    <script  src="/static/js/fedtask.js" /></script>
    <script>
	var results_url = '/study/results/';
	var document_url = '/study/doc_content/';
	var bookmark_url = '/study/bookmark/';
	var submit_complete_task_url = '/study/submit_complete_task/';
	var topic_id = {{topic_id}};
	var run_id = {{run_id}};
	var session_id = {{session_id}};
	var total_num_docs = {{total_num_docs}};
	//var docs = eval('('+"{{docs_json|escapejs}}"+')');	
    </script>
   {% block globalvar %}
   {% endblock %}

{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
	<div class="col-md-3">
		{% block leftblock %}
		{% endblock %}
	</div>
	<div class="col-md-7">
		<div  id="topic-panel" class="panel panel-primary">
		<div class="panel-heading">
			<div class="topic-info">
			Please find 
			<span class="emph"> {{num_docs}} </span> 
			pages that are relevant to: 
			</div>
		</div>	
		<div class="panel-body">
			<div class="topic-text">{{topic_text}}</div>
		</div>	
		</div>

		<div class="panel panel-primary" id="results">
			{% for d in docs %}
			<!-- d[1] is the document object, d[0] is the rank -->
			<div id="rank_{{d.0}}" class="list-group-item" name="doc-item" >
				<div id="feedback_{{d.1.id}}"></div>
				<div id="result-item_{{d.1.id}}" class="result-item">
				<div id="{{d.1.id}}_title" name="{{d.1.title}}" class="list-group-item-heading">
				{% if d.1.bookmarked %}
			        <span class="glyphicon glyphicon-star bookmark
bookmark-selected" id="{{d.1.id}}_bookmark"></span>
				{% else %}
			        <span class="glyphicon glyphicon-star-empty bookmark" id="{{d.1.id}}_bookmark"></span>
				{% endif %}
				<span class="doc_title" id="{{d.1.id}}" data-toggle="modal" data-target="#docModal">
				{{d.1.title}}
				</span>

				</div> <!-- list-group-item-heading -->
				<div class="doc_url" id="url_{{d.1.id}}" >{{d.1.url}}</div>
				<div class="list-group-item-text">{{d.1.summary|linebreaks}}</div>
				</div>


			</div><!-- list-group-item -->
			{% endfor %}
		</div>
	</div>
	<div class="col-md-2">
		<div class="list-group affix-right" data-spy="affix" data-offset-top="200">
  			<a class="list-group-item active">
            <span id="bookmark_count" class="badge pull-right">{{bookmark_count}}</span>
			Selected documents
  			</a>

	  		<a class="list-group-item selected_documents"><strong>Current topic:</strong> {{topic_text}}
			</a>
	
			<a class="list-group-item selected_documents">
			<button type="button" id="done" class="btn btn-success btn-block">
				<strong>Done!</strong>
				<span class="glyphicon glyphicon-share-alt"></span>
			</button>
			</a>
		{% block notification %}
		{% endblock %}
		</div>
		{% block rightblock %}
		{% endblock %}
	</div>
	<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="docModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
       			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title" id="modal_title"></h3>
		</div>
		<div class="modal-body" id="doc_content">
		</div>
	    </div>
	  </div>
	</div>	

</div>
</div>

{% endblock %}

