{% extends "fedtask/task_base.html" %}
{% load i18n %}

{% block globalvar %}
<script>
	var cate = eval("("+"{{cate_json|escapejs}}"+")");
	var current_active_category = 'category_all';
	//var category_results_url = '/study/fetch_category_results/'
</script>	
{% block globalvar_ui2 %}{% endblock %}
{% endblock %}


{% block leftblock %}
	<div data-ilpslogging-groupid='categorypanel' class="affix-left" data-spy="affix" data-offset-top="200">
	<div data-ilpslogging-groupid='categorypanel' class="category-area" id="category_area">
	<ul data-ilpslogging-groupid='categorypanel' class="list-group">
		{% for c in category %}
		<a data-ilpslogging-groupid='category_{{c.id}}' class="list-group-item category {{c.active}}"
			id="category_{{c.id}}" 
			data-original-title="{{c.description}}">
		<span data-ilpslogging-groupid='category_{{c.id}}' class="glyphicon glyphicon-chevron-right"></span>
		<span data-ilpslogging-groupid='category_{{c.id}}' class="badge pull-right">{{c.doc_count}}</span>
		<span data-ilpslogging-groupid='category_{{c.id}}' class="category_name">{{c.name}}</span></a>
		{% endfor %}
	</ul>
	</div>
	</div>	

{% endblock %}


