{% extends "fw_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/task_base.css" %}" />
    <script  src="{% static "js/fedtask.js" %}" /></script>
    <script>
	var results_url = '{% url fedtask.views.fetch_results %}';
	var document_url = '{% url fedtask.views.fetch_document %}';
	var bookmark_url = '{% url fedtask.views.register_bookmark %}';
	var submit_complete_task_url = '{% url fedtask.views.submit_complete_task %}';
	var submit_uncomplete_task_url = '{% url fedtask.views.submit_uncomplete_task %}';
	var add_click_url = '{% url fedtask.views.add_click %}';
	var topic_id = {{topic_id}};
	var run_id = {{run_id}};
	var username = "{{user.username}}";
	var session_id = {{session_id}};
	var total_num_docs = {{total_num_docs}};
	var task_id = {{task_id}};
	var highscore_url = '{% url fedtask.views.highscores %}';
	var examples = eval('('+"{{examples|escapejs}}"+')');	
	var give_up_thresh = {{give_up_thresh}};
    </script>
   {% block globalvar %}
   {% endblock %}

{% endblock %}

{% block navbar %}
	<div class="navbar-text pull-right instruction ">
	<a data-ilpslogging-groupid='instructions' href="{% url fedtask.views.instructions %}" >
		Instructions
	</a>
	</div>	
	<div class="navbar-text pull-right">
	<a data-ilpslogging-groupid='highscore' href="{% url fedtask.views.highscores %}" >
		Highscores
		<span class="glyphicon glyphicon-certificate highscore"></span>
	</a>
	</div>	
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
	<div class="col-md-3">
		{% block leftblock %}
		{% endblock %}
	</div>
	<div data-ilpslogging-groupid='taskpanel' class="col-md-7">
		<div data-ilpslogging-groupid='taskpanel'  id="topic-panel" class="panel panel-primary">
			<div data-ilpslogging-groupid='taskpanel' class="panel-heading">
				<div data-ilpslogging-groupid='taskpanel' class="topic-info">
				Please find 
				<span class="emph"> {{num_docs}} </span> 
				pages that are relevant to: 
				</div>
			</div>	
			<div data-ilpslogging-groupid='taskpanel' class="panel-body">
				<div data-ilpslogging-groupid='taskpanel' class="topic-text">{{topic_text}}</div>
			</div>	
			<div class="list-group">
				<div id="desc_example" class="list-group-item example_desc">Example relevant and irrelevant results: 
					<span id="hide_examples" class="btn btn-xs btn-success pull-right" data-toggle="collapse" data-target="#example">
						Hide examples
					</span>
				</div>
				<div id="examples" class="collapse in">
				</div>
			</div>

		</div>

		<div data-ilpslogging-groupid='resultscounter' class="topic-info">Number of results found:
			<span class="emph" id="n_query_results">#{{total_num_docs}}</span>
		</div>

		<div  data-ilpslogging-groupid='resultslist' class="panel panel-primary" id="results">
		</div>

		<div  data-ilpslogging-groupid='pagination' class="pagination_area" id="pagination">
		</div>
	</div>
	<div data-ilpslogging-groupid='scoreboard' class="col-md-2">
		<div data-ilpslogging-groupid='scoreboard' class="list-group affix-right" data-spy="affix" data-offset-top="200">

			<a data-ilpslogging-groupid='scoreboard' class="list-group-item selected_documents active">
			<strong>Current topic:</strong> {{topic_text}}
			</a>

                        <a data-ilpslogging-groupid='scoreboard' class="list-group-item">
                        <span data-ilpslogging-groupid='scoreboard' id="clicks_left" class="badge pull-right">{{clicksleft}}</span>
                               	Clicks left:
                                <div data-ilpslogging-groupid='scoreboard' class="progress">
                                <div data-ilpslogging-groupid='scoreboard' class="progress-bar progress-bar-danger" 
                                        id="pgbar_c"
                                        role="progressbar" 
                                        aria-valuenow="{{clicksleft}}" 
                                        aria-valuemin="0" 
                                        aria-valuemax="{{maxclicks}}" 
                                        style="width: {{clicks_perc}}%">
                                </div>
                                </div>

                        </a>
	
  			<a data-ilpslogging-groupid='scoreboard' class="list-group-item">
            		<span id="rel_found" class="badge pull-right">{{rel_to_reach}}</span>
				Target to reach
				<div data-ilpslogging-groupid='scoreboard' class="progress">
  				<div data-ilpslogging-groupid='scoreboard' class="progress-bar progress-bar-success" 
					id="pgbar_t"
					role="progressbar" 
					aria-valuenow="{{relnum}}" 
					aria-valuemin="0" 
					aria-valuemax="{{num_docs}}" 
					style="width: {{rel_perc}}%">
				</div>
  				</div>
	
  			</a>
			<a id='give_up_area' class="list-group-item {{give_up_hidden}}">
			<span id="give_up" class="btn btn-danger btn-block" 
				data-original-title="Warning: if given up, the remaining clicks in this round will be lost!">
				<b>I give up!</b>
			</span>

			</a>
		</div>
		{% block rightblock %}
		{% endblock %}
	</div>

</div>
</div>

{% endblock %}

