{% extends "fedtask/task_base.html" %}
{% load i18n %}

{% block globalvar %}
<script>
	var cate = eval("("+"{{cate_json|escapejs}}"+")");
	var current_active_category = 'category_all';
	//var category_results_url = '/study/fetch_category_results/'
</script>	
{% block globalvar_ui2 %}{% endblock %}
{% endblock %}


{% block leftblock %}
	<div class="affix-left" data-spy="affix" data-offset-top="200">
	<div class="category-area" id="category_area">
	<ul class="list-group">
		{% for c in category %}
		<a class="list-group-item category {{c.active}}"
id="category_{{c.id}}" rel="tooltip"
data-original-title="{{c.description}}"><span class="glyphicon glyphicon-chevron-right"></span><span class="badge pull-right">{{c.doc_count}}</span><span class="category_name">{{c.name}}</span></a>
		{% endfor %}
	</ul>
	</div>
	</div>	

{% endblock %}


