{% extends "fedtask/task_ui2_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block globalvar_ui2 %}
	<script>
		var training = true;
	</script>
    <script  src="{% static "js/utils/notifications.js" %}" /></script>
{% endblock %}

{% block notification %}
<!--- place holder for the notifications --> 
<div id="notification_container" style="top:auto; left:0; 
				bottom:0; margin:0 0 10px 10px" > 
	<div id="basic-template"> 
	  <a class="ui-notify-cross ui-notify-close" href="#">x</a> 
	  </br> 
	  <h1>#{title}</h1> 
	  <p style="margin-top:10px;text-align:left">#{text}</p> 
	</div> 

	<div id="topic-panel-notification" class="topic-panel-notification"> 
	  <a class="ui-notify-cross ui-notify-close" href="#">x</a>
      </br> 
	  <h1>#{title}</h1> 
	  <p style="margin-top:10px;text-align:left">#{text}</p> 
	</div> 

	 <div id="docview-notification" class="docview-notification"> 
	  <a class="ui-notify-cross ui-notify-close" href="#">x</a> 
	  </br> 
	  <h1>#{title}</h1> 
	  <p style="margin-top:10px;text-align:left">#{text}</p> 
	</div> 

    <div id="category-notification" class="category-notification">
      <a class="ui-notify-cross ui-notify-close" href="#">x</a>
      </br>
      <h1>#{title}</h1>
      <p style="margin-top:10px;text-align:left">#{text}</p>
    </div>

    <div id="done-notification" class="done-notification">
      <a class="ui-notify-cross ui-notify-close" href="#">x</a>
      </br>
      <h1>#{title}</h1>
      <p style="margin-top:10px;text-align:left">#{text}</p>
    </div>

</div> 

{% endblock %}




