{% extends "fw_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/task_base.css" %}" />
    <script  src="{% static "js/fedtask.js" %}" /></script>
    <script>
	var results_url = '{% url fedtask.views.fetch_results %}';
	var document_url = '{% url fedtask.views.fetch_document %}';
	var bookmark_url = '{% url fedtask.views.register_bookmark %}';
	var submit_complete_task_url = '{% url fedtask.views.submit_complete_task %}';
	var add_click_url = '{% url fedtask.views.add_click %}';
	var topic_id = {{topic_id}};
	var run_id = {{run_id}};
	var username = "{{user.username}}";
	var session_id = {{session_id}};
	var total_num_docs = {{total_num_docs}};
	var task_id = {{task_id}};
	var highscore_url = '{% url fedtask.views.highscores %}';
	//var docs = eval('('+"{{docs_json|escapejs}}"+')');	
    </script>
   {% block globalvar %}
   {% endblock %}

{% endblock %}

{% block navbar %}
	<div class="navbar-text pull-right instruction ">
	<a href="{% url fedtask.views.instructions %}" >
		Instructions
	</a>
	</div>	
	<div class="navbar-text pull-right">
	<a href="{% url fedtask.views.highscores %}" >
		Highscores
		<span class="glyphicon glyphicon-certificate highscore"></span>
	</a>
	</div>	
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
	<div class="col-md-3">
		{% block leftblock %}
		{% endblock %}
	</div>
	<div class="col-md-7">
		<div  id="topic-panel" class="panel panel-primary">
			<div class="panel-heading">
				<div class="topic-info">
				Please find 
				<span class="emph"> {{num_docs}} </span> 
				pages that are relevant to: 
				</div>
			</div>	
			<div class="panel-body">
				<div class="topic-text">{{topic_text}}</div>
			</div>	
		</div>

		<div class="topic-info">Number of results found:
			<span class="emph" id="n_query_results">#{{total_num_docs}}</span>
		</div>

		<div class="panel panel-primary" id="results">
		</div>

		<div class="pagination_area" id="pagination">
		</div>
	</div>
	<div class="col-md-2">
		<div class="list-group affix-right" data-spy="affix" data-offset-top="200">
                        <a class="list-group-item">
                        <span id="clicks_left" class="badge pull-right">{{clicksleft}}</span>
                               	Clicks left:
                                <div class="progress">
                                <div class="progress-bar progress-bar-danger" 
                                        id="pgbar_c"
                                        role="progressbar" 
                                        aria-valuenow="{{clicksleft}}" 
                                        aria-valuemin="0" 
                                        aria-valuemax="{{maxclicks}}" 
                                        style="width: {{clicks_perc}}%">
                                </div>
                                </div>

                        </a>
  			<a class="list-group-item">
            		<span id="rel_found" class="badge pull-right">{{relnum}}</span>
				Target to reach
				<div class="progress">
  				<div class="progress-bar progress-bar-success" 
					id="pgbar_t"
					role="progressbar" 
					aria-valuenow="{{relnum}}" 
					aria-valuemin="0" 
					aria-valuemax="{{num_docs}}" 
					style="width: {{rel_perc}}%">
				</div>
  				</div>
	
  			</a>
				
	  		<a class="list-group-item selected_documents"><strong>Current topic:</strong> {{topic_text}}
			</a>
	
			<a class="list-group-item selected_documents">
			<button type="button" id="done" class="btn btn-success btn-block">
				<strong>Done!</strong>
				<span class="glyphicon glyphicon-share-alt"></span>
			</button>
			</a>
		{% block notification %}
		{% endblock %}
		</div>
		{% block rightblock %}
		{% endblock %}
	</div>
	<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="docModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
		<div class="modal-header">
       			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title" id="modal_title"></h3>
		</div>
		<div class="modal-body" id="doc_content">
		</div>
	    </div>
	  </div>
	</div>	

</div>
</div>

{% endblock %}

