{% extends "fw_base.html" %}
{% load i18n %}

{% block head %}
    <script  src="/static/js/prequestionnaire.js" /></script>
{% endblock %}


{% block content %}

<div class="jumbotron jumbotron-white">
<div class="container">
	<div class="row">
		
		<div class="col-md-3">
		</div>

		<div class="col-md-7 alert alert-info">
			<h2>Pre-questionnaire</h2>
		</div>

		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-7">
			<blockquote>
				<p>Thank you for helping us to make search interfaces
better. In this pre-questionnaire we would like to get a better
picture of who you are. We will tread this information confidentially
and will not share your personal information or identity with anyone
outside our research team.</p>
				<p>To develop better search interfaces, however, we
need to observe how people are currently using these systems.
Therefore we log all activities with our search interface. We
anonymize this log data by using identifiers instead of names and
replacing queries that could lead back to your identity with
placeholders. We would like to ask for your permission to use and
share this anonymized log data for research purposes.</p> 
				<p>Please note that you are free to quit the session
at any time.</p>
			</blockquote>
		</div>

		<div class="col-md-2">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
		</div>

		<div class="col-md-7">
				
			<form class="form-horizontal" role="form" id="preqst_form"
action="/question/store_preqst/" method="POST">{% csrf_token %}
				<label><p><b>I declare that I have read and understood
the above and allow the anonimized logs of my activity to be used and
shared for research purposes. </b><input id="consent" name="consent"
type="checkbox" value="1">
				</p></label>
					<div class="err" id="err_consent"></div>
					<div id="errsign_consent" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>

				<fieldset class="alert alert-info">
					<label class="qstlabel">gender</label>
					<select name="gender" id="gender">
						<option value="">Please select</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select>
					<div class="err" id="err_gender"></div>
					<div id="errsign_gender" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
					</br>
					<label class="qstlabel">age</label>
					<select name="age" id="age">
						<option value="">Please select</option>
						{% for age in ageoptions %}
							<option value="{{age}}">{{age}}</option>
						{% endfor %}
					</select>
					<div class="err" id="err_age"></div>
					<div id="errsign_age" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
					</br>
					<label class="qstlabel">level of education</label>
					<select name="education" id="education">
						<option value="">Please select</option>
						<option value="N">No education</option>
						<option value="H">Highschool</option>
						<option value="B">Bachelor</option>
						<option value="M">Master</option>
						<option value="D">Doctorate</option>
					</select>
					<div class="err" id="err_education"></div>
					<div id="errsign_education" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>

				</fieldset>
				<p>Please indicate the extend to which the following
statements apply to you on a scale of 1 to 5, where 1 indicates no
agreement and 5 indicates extreme agreement.</p>
				<fieldset class="alert alert-info">

				<label>I am good with computers:</label>
				</br>
					{% for i in likertscale %}
						<label> {{i}} </label>
						<input type="radio" name="computer" id="computers_{{i}}" value="{{i}}">
					{% endfor %}
					<div class="err" id="err_computer"></div>
					<div id="errsign_computer" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>

				<label>I am a fluent speaker of the english language</label>
				</br>
					{% for i in likertscale %}
						<label> {{i}} </label>
						<input type="radio" name="english"  id="english_{{i}}" value="{{i}}">
					{% endfor %}
					<div class="err" id="err_english"></div>
					<div id="errsign_english" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
				<label>I am an experienced user of search engines</label>
				</br>
					{% for i in likertscale %}
						<label> {{i}} </label>
						<input type="radio" name="search" id="search_{{i}}" value="{{i}}">
					{% endfor %}
					<div class="err" id="err_search"></div>
					<div id="errsign_search" class="col-sm-1 glyphicon glyphicon-info-sign errsign-valid"></div>
				</br>
				<button type ="submit" id="preqst_btn" class="btn btn-default"
				>Submit</button>
			</form>
		</div>

		<div class="col-md-2">
		</div>
	</div>
</div>
</div>

{% endblock %}
