{% extends "fw_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head %}
    <script  src="{% static "js/prequestionnaire.js" %}" /></script>
{% endblock %}


{% block content %}

<div class="container">
<div class="row">
	<div class="col-md-1">
	</div>

	<div class="col-md-10">
	<h4><i>Player agreement</i></h4>
	<blockquote>
	<p>Thank you for helping us to make search interfaces
		better. In this pre-questionnaire we would like to get a better
		picture of who you are. We treat this information confidentially
		and do not share your personal information or identity with anyone
		outside our research team.</p>
    <p>To develop better search interfaces, however, we need to observe how
        people are currently using these systems.  Therefore we log all activities
        with our search interface. We anonymize this log data by using identifiers
        instead of names. We would like to ask for your permission to use
        this anonymized log data for research purposes. After a maximum of 5 years
        the data will be destroyed.</p> 
	<p>Please note that you are free to quit the session
		at any time. If you have any questions, please <a href="mailto:j.he@cwi.nl,m.m.bron@uva.nl">Contact us</a>
    </p>
	</blockquote>

	
	<form class="form-horizontal" role="form" id="preqst_form" action="{% url questionnaire.views.store_preqst %}" method="POST">{% csrf_token %}

	{# Concent agreem #}
	<p><b>I declare that I am over 18 years old, have read and understood
	the above, and allow the anonymized logs of my activity to be used
	for research purposes. </b>
	<input id="consent" name="consent" type="checkbox" value="1">
	<span id="errsign_consent" class="glyphicon glyphicon-info-sign errsign-valid err"></span>
	<span class="err" id="err_consent"></span>
	</p>

	{# The questionnaire #}
	<div class="alert alert-info">
		<div class="container space5">
		<div class="row">
		{# Age #}
		<div class="col-md-3">
		<label class="qstlabel">gender</label>
		</div>
		<div class="col-md-4">
			<div class="btn-group" id="gender_btn">	
			<label class="btn btn-xs btn-success likert" id="gender">
    			<input type="radio" name="gender" id="gender_M" value="M"> Male
  			</label>
			<label class="btn btn-xs btn-success likert" id="gender">
    			<input type="radio" name="gender" id="gender_F" value="F"> Female	
  			</label>
			</div> {# end gender-btns#}
		</div>{# End age choice column#}
		<div class="col-md-3">
			<!--div class="alert space5" id="errarea_gender"-->
			<span id="errsign_gender" class="err glyphicon glyphicon-info-sign errsign-valid"></span>	
			<span class="err" id="err_gender"></span>
			<!--/div--> 
		</div> {# end age error column #}
		</div>{# end row age#}
		</div> {# end container age #}

		<div class="container space5">
		<div class="row">
		<div class="col-md-3">
		<label class="qstlabel">age</label>
		</div>
		<div class="col-md-4">
			<div class="btn-group" id="age_btn">	
			{% for age in ageoptions %}
			<label class="btn btn-xs btn-success likert" id="age">
    			<input type="radio" name="age" id="age_{{age.0}}" value="{{age.0}}">
			{{age.1}}
  			</label>
			{% endfor %}
			</div> {# end age btns#}
		</div> {# end age choice column #}
		<!--div class="alert space5" id="errarea_age"-->
		<div class="col-md-3">
			<span id="errsign_age" class="err glyphicon glyphicon-info-sign errsign-valid"></span>
			<span class="err" id="err_age"></span>
		</div>{# end age error column#}
		</div>{# end age row #}
		</div>{# end age container #}
		
		{# Edu #}
		<div class="container space5">
		<div class="row">
		<div class="col-md-3">
		<label class="qstlabel">education</label>
		</div>
		<div class="col-md-4">
		<div class="btn-group" id="education_btn">
	        	<label class="btn btn-success btn-xs likert" id="education">
                	<input type="radio" name="education" id="education_N" value="N">
               		NA
                	</label>
		 	<label class="btn btn-success btn-xs likert" id="education">
                	<input type="radio" name="education" id="education_H" value="H">
               		Highschool	
               	 	</label>
		 	<label class="btn btn-success btn-xs likert" id="education">
               	 	<input type="radio" name="education" id="education_B" value="B">
               		Bachelor
                	</label>
		 	<label class="btn btn-success btn-xs likert" id="education">
                	<input type="radio" name="education" id="education_M" value="M">
               		Master
                	</label>
		 	<label class="btn btn-success btn-xs likert" id="education">
                	<input type="radio" name="education" id="education_D" value="D">
               		PhD
                	</label>
		</div>{# end edu btns#}
		</div> {# end edu btn col #}
		<div class="col-md-3">
			<!--div class="alert space5" id="errarea_education"-->
			<span id="errsign_education" class="err glyphicon glyphicon-info-sign errsign-valid"></span>
			<span class="err" id="err_education"></span>
			<!--/div-->
		</div>{# end edu err col#}
		</div>{# end edu row #}
		</div>{# end edu container #}
	
		<div class="container space5"><div class="row"><div class="col-md-9">
		<br/>
		<p>Please indicate the extent to which the following
		statements apply to you on a scale of 1 to 5, where 1 indicates no
		agreement and 5 indicates extreme agreement.</p>
		</div></div></div>

		<div class="container space5">
		<div class="row">
		<div class="col-md-3">
		<label>I am good with computers:</label>
		</div>
		<div class="col-md-4">
			<div class="btn-group" id="computer_btn">	
			{% for i in likertscale %}
			<label class="btn btn-xs btn-success likert" id="computers_{{i}}">
    			<input type="radio" name="computer" id="computers_{{i}}" value="{{i}}">
			{{i}} 
  			</label>
			{% endfor %}
			</div>
		</div> {# end computer btn group#}
		<div class="col-md-3">
		<!--div class="alert space5" id="errarea_computer"-->
		<span id="errsign_computer" class="err glyphicon glyphicon-info-sign errsign-valid"></span>
		<span class="err" id="err_computer"></span>
		<!--/div-->
		</div>{# end computer err col#}
		</div>{# end computer row#}
		</div>{# end computer container #}

		{# english #}
		<div class="container space5">
		<div class="row">
		<div class="col-md-3">
		<label>I am fluent in the English language:</label>
		</div>
		<div class="col-md-4">
			<div class="btn-group" id="english_btn">	
			{% for i in likertscale %}
			<label class="btn btn-xs btn-success likert" id="english_{{i}}">
    			<input type="radio" name="english" id="english_{{i}}" value="{{i}}">
			{{i}} 
  			</label>
			{% endfor %}
			</div>
		</div>{# end english btn group #}
		<div class="col-md-3">
			<!--div class="alert space5" id="errarea_english"-->
			<span id="errsign_english" class="err glyphicon glyphicon-info-sign errsign-valid"></span>
			<span class="err" id="err_english"></span>
			<!--/div-->
		</div>{# end english err col#}
		</div>{# end english row #}
		</div>{# end english container#}

		{# search #}
		<div class="container space5">
		<div class="row">
		<div class="col-md-3">
			<label>I am a frequent search engine user:</label>
		</div>
		<div class="col-md-4">
			<div class="btn-group" id="search_btn">	
			{% for i in likertscale %}
			<label class="btn btn-xs btn-success likert" id="search_{{i}}">
    			<input type="radio" name="search" id="search_{{i}}" value="{{i}}">
			{{i}} 
  			</label>
			{% endfor %}
			</div>
		</div>{#end search btns#}
		<div class="col-md-3">
			<!--div class="alert space5" id="errarea_search"-->
			<span id="errsign_search" class="err glyphicon glyphicon-info-sign errsign-valid"></span>
			<span class="err" id="err_search"></span>
			<!--/div-->
		</div>{# end search err#}
		</div>{# end search row#}
		</div>{# end search container #}

		<div class="container"><div class="row"><div class="col-md-9">
		<button type ="submit" id="preqst_btn" class="btn btn-success pull-right">Submit</button>
		</div></div></div>
	</div> {# End alert area #}
	</form> {# end questionnaire #}	
	</div><!--col-md-10-->
	<div class="col-md-1"></div>
</div><!--row-->
<div><!--container-->


	<!--fieldset-->


	<!--select name="gender" id="gender">
		<option value="">Please select</option>
		<option value="M">Male</option>
		<option value="F">Female</option>
	</select-->
	<!--label class="qstlabel">Age</label>
	<select name="age" id="age">
	<option value="">Please select</option>
	{% for age in ageoptions %}
		<option value="{{age.0}}">{{age.1}}</option>
	{% endfor %}
	</select-->


	<!--select name="education" id="education">
		<option value="">Please select</option>
		<option value="N">No education</option>
		<option value="H">Highschool</option>
		<option value="B">Bachelor</option>
		<option value="M">Master</option>
		<option value="D">Doctorate</option>
	</select-->



{% endblock %}
