{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/fw_base.css" %}" />
    <link rel="stylesheet" href="{% static "bs-patch/bs-patch.css" %}" />	
    <link rel="stylesheet" href="{% static "css/ui.notify.css" %}" />	
    <script  src="{% static "jquery/jquery-1.10.1.min.js" %}" /></script>
    <script  src="{% static "jquery/jquery.color-2.1.2.min.js" %}" /></script>
    <script  src="{% static "jquery/jquery.corner.js" %}" /></script>
    <script  src="{% static "jquery/jquery-ui.js" %}" /></script>
	<script>
		// Resolve name collision between jQuery UI and Twitter Bootstrap
		$.widget.bridge('uitooltip', $.ui.tooltip);
	</script>
    <script  src="{% static "bootstrap/js/bootstrap.js" %}" /></script>
    <script  src="{% static "bs-patch/bs-patch.js" %}" /></script>
    <script  src="{% static "js/utils/json2.js" %}" /></script>
    <script  src="{% static "js/utils/setup.js" %}" /></script>
    <script  src="{% static "js/utils/form_validation.js" %}" /></script>
    <script  src="{% static "jquery/jquery.validate.js" %}" /></script>

    <script>
        (function() {
            var script = document.createElement('script');
            script.async = true;
            script.src = "{% static "js/ilpslogging-0.2.min.js" %}";
            var entry = document.getElementsByTagName('script')[0];
            entry.parentNode.insertBefore(script, entry);
        })();

        var ILPSLogging_ready = ILPSLogging_ready || [];
        ILPSLogging_ready.push(function(){
            var config = {
                api_url: 'http://zookst9.science.uva.nl:8005',
                project_key: 'rURySwsSnwMM2zh1XJAxFrgHSGkKO2xaVALNE8EGzc8',
                log_mouse_movements: true,
                log_mouse_clicks: true,
                post_events_queue_on_browser_close: true,
                log_browser_close: true,
                debug: false,
            };
            ILPSLogging.init(config, function(){
                console.log('ready for action');
            });
        });
    </script>
    <script  src="{% static "js/utils/logging.js" %}" /></script>


    {% block head %}
    <title>{% block title %}fw_userstudy{% endblock %}</title>
    {% endblock %}
    <script>
	var register_url = '{% url questionnaire.views.register_user %}';
    </script>
</head>

<body>
   {% block header %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<a class="navbar-brand">FedSearch</a>
	<img src="{% static "img/cwi_logo.png" %}" height="50"/> 
	<img src="{% static "img/uvalogo.png" %}" height="50"/> 
&nbsp;
	<img src="{% static "img/uog_logo.jpg" %}" height="50" width="40"/>
	{% if user.is_authenticated %}
	<div class="navbar-right">
	<p class="navbar-text">
	{{ user.username }} 
	</p>
	<p class="navbar-text">
	<a  data-ilpslogging-groupid='change_password' href="{% url auth_password_change %}">{% trans "Change password" %}</a> 
	</p>
	<p class="navbar-text">
       	<a data-ilpslogging-groupid='logout' id="logout_link" href="{% url auth_logout %}" >{% trans "Log out" %}</a>
	</p>
	<p class="navbar-text"><a href="mailto:j.he@cwi.nl,m.m.bron@uva.nl">Contact us</a></p>
	</div>
	{% endif %}

	{% block navbar %}
	{% endblock %}	

    </nav>

   {% endblock %}

    <div id="content" class="content" >
        {% block content %}{% endblock %}
    </div>

    <div id="footer" class="footer">
    {% block footer %}
    {% endblock %}
    </div>

</body>

</html>
